/*===================================
=            Base Colors            =
===================================*/

$color-white:#fff;
$color-black:#000;

/*=====  End of Base Colors  ======*/

/*=====================================
=            Custom colors            =
=====================================*/

$color-blue:#089bac;

$color-green:#6bad4d;
$color-green-light:#8bc664;

$color-pink:#f05274;

$color-gray:#333333;

$opacity-bg: rgba(0,0,0,0.2);

/*=====  End of Custom colors  ======*/

/*====================================
=            Font Weights            =
====================================*/

$bold: 700;
$semi-bold: 600;
$regular: 400;
$thin: 300;

/*=====  End of Font Weights  ======*/

/*==================================
=            Font Sizes            =
==================================*/

$base-size: 16px;

/*=====  End of Font Sizes  ======*/
